{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1>Все новости</h1>
<div>
    {% for news_item in news_list %}
    <div>
        <h3><a href="{{news_item.pk}}">{{news_item.header|censor}}</a></h3>
        <span>published on: {{news_item.creation_time|date:'d.M.Y'}}</span>
        <div>{{news_item.text|censor|truncatechars:21}}</div>
    </div>
    {% endfor %}
</div>
{% endblock content %}